{% extends 'base.html' %}

{% block content %}
    {% for notification in notifications_list %}
        {{ notification.notification }}
        {% if notification.is_invitation == True %}
            <button onclick="location.href = '{% url 'invitation_service' notif_pk=notification.pk decision='yes' %}';"
                    id="myButton"
                    class="btn btn-danger">
                Accept
            </button>
            <button onclick="location.href = '{% url 'invitation_service' notif_pk=notification.pk decision='no' %}';"
                    id="myButton"
                    class="btn btn-danger">
                Denied
            </button>
        {% endif %}
        <br>
    {% endfor %}

{% endblock %}