{% extends 'base.html' %}
{% block content %}
    <h1>Trainings:</h1>
    <ul class="list-group">
        {% for object in object_list %}
            <li>

                <button onclick="location.href = '{% url 'training_details' pk=object.pk %}';" id="myButton"
                        class="btn btn-info">
                    {{ object.name }}
                </button>
                {% if perms.trainer.trainer %}
                    <button onclick="location.href = '{% url 'serie_preview' pk=object.pk %}';" id="myButton"
                            class="btn btn-info">
                        {{ object.name }} - Check series
                    </button>
                {% endif %}
            </li>
        {% empty %}
            <li>No trainings yet.</li>
        {% endfor %}  </ul>
    <br><br>
    {% if perms.trainer.trainer %}
        <button onclick="location.href = '{% url 'training_create' %}';" id="myButton" class="btn btn-success">Create
            new training
        </button>
        <h3>Last training your pupil: "{{ training.name }}" made by {{ pupil }}</h3>
    {% elif perms.trainer.pupil %}
        <h3>Last training: {{ training.name }}</h3>

    {% endif %}

    <h3>{{ series.0.date }}</h3>
    <table class="steelBlueCols">
        <thead>
        <tr>
            <th>Exercise</th>
            <th>Serie</th>
            <th>Repetitions</th>
            <th>Kilos</th>
        </tr>
        </thead>
        <tbody>
        {% for exercise in exercises %}
            {% for serie in series %}
                {% if serie.exercise_id == exercise.id %}
                    <tr>
                        <td>{{ exercise.name }}</td>
                        <td>{{ serie.serie_number }}</td>
                        <td>{{ serie.amount }}</td>
                        <td>{{ serie.kilos }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}